/node_modules/
/vendor/
/plugins/
/themes/*
!/themes/scaffold
/uploads/
/upgrade/
/mu-plugins/*
!/mu-plugins/scaffold
db.php
debug.log

.DS_Store

# Only ignore in the scaffold directory.
composer.lock
package-lock.json
mu-plugins/scaffold/js/build/
themes/scaffold/editor-style.css
themes/scaffold/style.css
