/**
 * From https://github.com/hankchizljaw/modern-css-reset
 */

/* Set core body defaults */

body {
	box-sizing: border-box;
	min-height: 100vh;
	margin: 0;
	scroll-behavior: smooth;
	text-rendering: geometricprecision;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Box sizing rules */

*,
*::before,
*::after {
	box-sizing: inherit;
}

/* Remove list styles on ul, ol elements with a class attribute */

/* stylelint-disable no-duplicate-selectors */

nav ul {
	list-style: none;
}

/* stylelint-enable no-duplicate-selectors */

/* A elements that don't have a class get default styles */

a:not([class]) {
	-webkit-text-decoration-skip: ink;
	        text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img {
	display: block;
	height: auto;
	max-width: 100%;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
	font: inherit;
}

/* Remove animations and transitions for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {

	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		scroll-behavior: auto !important;
		transition-duration: 0.01ms !important;
	}
}

/* Wrap pre tag content */

pre {
	overflow-x: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
}

body {
		/* --- Widths --- */
		--max-width: calc(1218px + var(--wp--style--root--padding-right) + var(--wp--style--root--padding-left));

		/* --- Speed --- */
		--speed: 0.22s;
}

:root {

	/* --- Colors --- */
	--color-background: var(--wp--preset--color--green-dark);
	--color-text: var(--wp--preset--color--white);
	--color-alt: var(--wp--preset--color--green-light);
	--color-highlight: var(--wp--preset--color--blue-dark);
	--color-highlight-hover: var(--wp--preset--color--green-medium);
	--color-subtitle: var(--wp--preset--color--green-light);
}

@media (prefers-color-scheme: dark) {

:root {
		--color-background: var(--wp--preset--color--green-dark);
		--color-text: var(--wp--preset--color--white);
		--color-alt: var(--wp--preset--color--green-light);
		--color-highlight: var(--wp--preset--color--blue-dark);
		--color-highlight-hover: var(--wp--preset--color--green-medium);
		--color-subtitle: var(--wp--preset--color--green-light);
}
	}

@media (prefers-color-scheme: light) {

:root {
		--color-background: var(--wp--preset--color--blue-lightest);
		--color-text: var(--wp--preset--color--blue-dark);
		--color-alt: var(--wp--preset--color--blue-medium);
		--color-highlight: var(--wp--preset--color--blue-light);
		--color-highlight-hover: #cae6e6;
		--color-subtitle: var(--wp--preset--color--blue-medium);
}
	}

.prefers-color-scheme-dark {
	--color-background: var(--wp--preset--color--green-dark);
	--color-text: var(--wp--preset--color--white);
	--color-alt: var(--wp--preset--color--green-light);
	--color-highlight: var(--wp--preset--color--blue-dark);
	--color-highlight-hover: var(--wp--preset--color--green-medium);
	--color-subtitle: var(--wp--preset--color--green-light);
}

.prefers-color-scheme-light {
	--color-background: var(--wp--preset--color--blue-lightest);
	--color-text: var(--wp--preset--color--blue-dark);
	--color-alt: var(--wp--preset--color--blue-medium);
	--color-highlight: var(--wp--preset--color--blue-light);
	--color-highlight-hover: #cae6e6;
	--color-subtitle: var(--wp--preset--color--blue-medium);
}

/* --- Selection --- */

::selection {
	background: var(--wp--preset--color--red-dark);
	color: var(--wp--preset--color--white);
}

/* --- Anchors --- */

:is(a):not(.wp-element-button) {
	-webkit-text-decoration: underline;
	text-decoration: underline;
	text-decoration-color: var(--wp--preset--color--subtitle);
	text-decoration-thickness: 1px;
	text-underline-offset: 0.15em;
	transition: all var(--speed) linear;
}

:is(a):not(.wp-element-button):hover {
		text-decoration-color: transparent;
	}

p :is(a):not(.wp-element-button) {
		font-weight: 500;
	}

/* --- List items --- */

li::marker {
		color: var(--wp--preset--color--subtitle);
	}

.site-header,
.site-footer,
.main-content,
.is-breadcrumbs {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--max-width);
}

/*--------------------------------------------------------------
	# Site background
--------------------------------------------------------------*/

body {
	transition: background-color var(--speed) ease-in-out;
}

.has-modal-open body {
		overflow: hidden;
	}

.wp-site-blocks {
	background-image: url(./images/top-background-dark.jpg), url(./images/bottom-background-dark.jpg);
	background-position: top, bottom;
	background-size: 100%, 100%;
	background-repeat: no-repeat, no-repeat;
	background-blend-mode: lighten;
	min-height: 100vh;
	transition: background-image var(--speed) ease-in-out;
}

@media (prefers-color-scheme: light) {

	.wp-site-blocks {
		background-image: url(./images/top-background-light.jpg), url(./images/bottom-background-light.jpg);
		background-blend-mode: darken;
	}
}

.prefers-color-scheme-light .wp-site-blocks {
	background-image: url(./images/top-background-light.jpg), url(./images/bottom-background-light.jpg);
	background-blend-mode: darken;
}

@media (prefers-color-scheme: dark) {

	.wp-site-blocks {
		background-image: url(./images/top-background-dark.jpg), url(./images/bottom-background-dark.jpg);
		background-blend-mode: lighten;
	}
}

.prefers-color-scheme-dark .wp-site-blocks {
	background-image: url(./images/top-background-dark.jpg), url(./images/bottom-background-dark.jpg);
	background-blend-mode: lighten;
}

/*--------------------------------------------------------------
	# Site header
--------------------------------------------------------------*/

.site-header {
	padding: clamp(1rem, 5vw, 3rem) var(--wp--style--root--padding-right) 0 var(--wp--style--root--padding-left);
	position: relative;
}

.site-logo-stack .wp-block-site-logo {
		width: clamp(3.06rem, 10vw, 4.3rem);
	}

.site-logo-stack h1 {
		font-size: clamp(1.075rem, 2.5vw, 1.5rem);
	}

.site-logo-stack h1 a {
			-webkit-text-decoration: none;
			text-decoration: none;
		}

.wp-block-button.header-search-button {
	height: var(--wp--preset--spacing--3);
}

.wp-block-button.header-search-button .wp-block-button__link {
		background-color: var(--color-text);
		border: none;
		color: var(--color-text);
		height: var(--wp--preset--spacing--3);
		-webkit-mask-image: url(./images/icon-search.svg);
		        mask-image: url(./images/icon-search.svg);
		-webkit-mask-repeat: 0;
		        mask-repeat: 0;
		-webkit-mask-size: contain;
		        mask-size: contain;
		padding: 0;
		width: var(--wp--preset--spacing--3);
		transition: all var(--speed) ease-in-out;
	}

.wp-block-button.header-search-button .wp-block-button__link:hover {
			background-color: var(--color-alt);
			color: var(--color-alt);
		}

/* --- Primary nav --- */

.primary-nav {
	border: 1px solid var(--wp--preset--color--green-medium);
	border-width: 1px 0;
	letter-spacing: 0.12em;
	margin-top: var(--wp--preset--spacing--3);
	padding: var(--wp--preset--spacing--2);
}

@media (--mobile-nav) {

.primary-nav > .wp-block-navigation {
		justify-content: flex-end;
}
	}

@media (--desktop-nav) {

.primary-nav > .wp-block-navigation {
		gap: var(--wp--preset--spacing--2);
}
	}

.primary-nav > .wp-block-navigation .wp-block-navigation-item__content {
		-webkit-text-decoration: none;
		text-decoration: none;
	}

@media (min-width: 1000px) and (max-width: 1400px) {

.primary-nav > .wp-block-navigation .wp-block-navigation-item__content {
			font-size: 0.8em;
	}
		}

@media (--desktop-nav) {

.primary-nav > .wp-block-navigation .wp-block-navigation__responsive-container-open {
			display: none;
	}
		}

@media (--mobile-nav) {

.primary-nav > .wp-block-navigation .wp-block-navigation__responsive-container-open {
			display: block;
	}
		}

/* Subnav arrows */

.primary-nav > .wp-block-navigation .wp-block-navigation-submenu__toggle {
		padding-right: 0;
	}

.primary-nav > .wp-block-navigation .wp-block-navigation-submenu__toggle span {
			align-items: center;
			display: flex;
			gap: 0.25em;
		}

@media (--mobile-nav) {

.primary-nav > .wp-block-navigation .wp-block-navigation-submenu__toggle span {
				gap: 0.25em;
		}
			}

.primary-nav > .wp-block-navigation .wp-block-navigation-submenu__toggle span::after {
				content: "";
				background-color: currentcolor;
				-webkit-mask-image: url(./images/icon-carat.svg);
				        mask-image: url(./images/icon-carat.svg);
				-webkit-mask-repeat: no-repeat;
				        mask-repeat: no-repeat;
				-webkit-mask-position: center;
				        mask-position: center;
				-webkit-mask-size: contain;
				        mask-size: contain;
				height: 1em;
				width: 0.7em;
			}

@media (--desktop-nav) {

.primary-nav > .wp-block-navigation .wp-block-navigation-submenu__toggle span::after {
					transform: translateY(1px);
			}
				}

.primary-nav > .wp-block-navigation .wp-block-navigation-submenu__toggle[aria-expanded="true"] span::after {
				transform: rotate(180deg);
			}

@media (--mobile-nav) {
				:is(.primary-nav > .wp-block-navigation .wp-block-navigation-submenu__toggle[aria-expanded="true"]) ~ .wp-block-navigation__submenu-container {
					display: flex;
				}
			}

/* Don't use core subnav arrows */

.primary-nav > .wp-block-navigation .wp-block-navigation__submenu-icon {
		display: none;
	}

/* Submenu containers */

.primary-nav > .wp-block-navigation .wp-block-navigation__submenu-container {
		font-weight: 400;
		letter-spacing: 0;
		text-transform: initial;
	}

@media (--desktop-nav) {

.primary-nav > .wp-block-navigation .wp-block-navigation__submenu-container {
			background-color: var(--wp--preset--color--background);
			border: 1px solid var(--wp--preset--color--highlight);
			border-radius: var(--wp--preset--spacing--1);
			box-shadow: 0 0 1rem 0 #040e0a1a;
			gap: 0;
			padding: var(--wp--preset--spacing--1);
			top: calc(100% + var(--wp--preset--spacing--1));
			left: 50%;
			transform: translateX(-50%);
			width: max-content !important;
			max-width: 320px;
	}
		}

@media (--mobile-nav) {

.primary-nav > .wp-block-navigation .wp-block-navigation__submenu-container {
			background-color: transparent;
			border: none;
			color: currentcolor;
			display: none;
			font-weight: 400;
			gap: var(--wp--preset--spacing--1) !important;
			padding: var(--wp--preset--spacing--1) !important;
			position: static;
	}
		}

.primary-nav > .wp-block-navigation .wp-block-navigation__submenu-container .wp-block-navigation-item__content {
			border-radius: var(--wp--preset--spacing--050);
			padding: var(--wp--preset--spacing--1);
		}

.primary-nav > .wp-block-navigation .wp-block-navigation__submenu-container .wp-block-navigation-item__content:hover {
				background-color: var(--wp--preset--color--highlight);
			}

@media (--mobile-nav) {

.primary-nav > .wp-block-navigation .wp-block-navigation__responsive-container {
			display: none;
			padding: var(--wp--preset--spacing--3);
			overflow: scroll;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: var(--wp--preset--color--background) !important;
			z-index: 1000;
	}

			.primary-nav > .wp-block-navigation .wp-block-navigation__responsive-container.is-menu-open {
				display: flex;
			}

			.primary-nav > .wp-block-navigation .wp-block-navigation__responsive-container .wp-block-navigation__container {
				align-items: flex-start;
				display: flex;
				flex-direction: column;
				gap: var(--wp--preset--spacing--2);
			}

				.primary-nav > .wp-block-navigation .wp-block-navigation__responsive-container .wp-block-navigation__container > .wp-block-navigation-item {
					display: block;
					font-family: var(--wp--preset--font-family--bricolage);
					font-size: var(--wp--preset--font-size--2);
				}
		}

/*--------------------------------------------------------------
	# Main content
--------------------------------------------------------------*/

/*--------------------------------------------------------------
	# Site footer
--------------------------------------------------------------*/

.site-footer {
	margin-top: var(--wp--preset--spacing--10);
	padding: 0 var(--wp--style--root--padding-right) var(--wp--preset--spacing--10) var(--wp--style--root--padding-left);
}

.site-footer .site-footer-content {
		row-gap: var(--wp--preset--spacing--3);
	}

@media (--medium-viewport) {

.site-footer .site-footer-content {
			display: grid;
			gap: var(--wp--preset--spacing--3);
			grid-template-columns: 1fr;
			justify-items: center;
			text-align: center;
	}

			.site-footer .site-footer-content .wp-block-navigation__container ul {
				align-items: center;
			}
		}

/*--------------------------------------------------------------
	# Core blocks and variations
--------------------------------------------------------------*/

/* --- Heading block --- */

.wp-block-heading,
.wp-block-post-title {
	text-wrap: pretty
}

/* --- Button block --- */

.wp-block-button .wp-block-button__link {
		transition: all var(--speed) ease-in-out;
	}

.wp-block-button .wp-block-button__link:hover {
			background-color: var(--wp--preset--color--red-dark);
			color: var(--wp--preset--color--white);
		}

.wp-block-button.is-style-outline .wp-block-button__link:hover {
				border-color: var(--wp--preset--color--red-dark);
			}

/* --- Media/Text block --- */

.wp-block-media-text {
	gap: var(--wp--preset--spacing--7);
}

@media (--medium-viewport) {

.wp-block-media-text {
		grid-template-columns: 1fr;
}

		.wp-block-media-text .wp-block-media-text__media {
			grid-column: 1;
			grid-row: 1;
		}

		.wp-block-media-text .wp-block-media-text__content {
			grid-column: 1;
			grid-row: 2;
		}

		.wp-block-media-text.has-media-on-the-right {
			grid-template-columns: 1fr;
		}

			.wp-block-media-text.has-media-on-the-right .wp-block-media-text__media {
				grid-column: 1;
				grid-row: 1;
			}

			.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
				grid-column: 1;
				grid-row: 2;
			}
	}

.wp-block-media-text .wp-block-media-text__media {
		border-radius: var(--wp--preset--spacing--2);
		overflow: clip;
	}

.wp-block-media-text .wp-block-media-text__content {
		padding: 0;
	}

/* --- Group block for program cards in Loops --- */

@media (--medium-viewport) {

.program-card {
		flex-wrap: wrap !important;
}
	}

/* --- Single program --- */

@media (--medium-viewport) {

.single-program .post-header {
			grid-template-columns: 1fr;
	}
		}

/*--------------------------------------------------------------
	# Classed components
--------------------------------------------------------------*/

.is-card {
	background-color: var(--color-highlight);
	border: 1px solid var(--wp--preset--color--green-light);
	border-radius: var(--wp--preset--spacing--2);
	height: 100%;
	outline: 1px solid transparent;
	padding: var(--wp--preset--spacing--3) var(--wp--preset--spacing--2);
	transition: all var(--speed) ease-in-out;
}

.is-card > * {
		text-wrap: pretty;
	}

.is-card a {
		-webkit-text-decoration: none;
		text-decoration: none;
	}

.is-card.js-make-card-anchored {
		cursor: pointer;
	}

.is-card.js-make-card-anchored:hover {
			background-color: var(--color-highlight-hover);
			outline: 1px solid var(--wp--preset--color--green-light);
		}

.event-meta * + *::before {
		content: '•';
		margin-inline: 0.5ch;
	}

/*--------------------------------------------------------------
	# Utility classes
--------------------------------------------------------------*/

.no-shrink {
	flex-shrink: 0;
}

.alignfull {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--max-width);
}

.wp-site-blocks:has(.mobile-nav) div.toggle-block-hidden {
	display: flex;
}
