<!-- wp:template-part {"slug":"header","theme":"scaffold","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"align":"full","style":{"spacing":{"margin":{"top":"var:preset|spacing|5","bottom":"var:preset|spacing|5"}}},"className":"has-global-padding","layout":{"type":"default"}} -->
<div class="wp-block-group alignfull has-global-padding" style="margin-top:var(--wp--preset--spacing--5);margin-bottom:var(--wp--preset--spacing--5)">
	<!-- wp:heading {"level":1} -->
	<h1>Main content</h1>
	<!-- /wp:heading -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"scaffold","tagName":"footer","className":"site-footer"} /-->
